<div class="page">

  <h2>Create Route on Map</h2>

  <div class="form-inline">
    <input
      type="text"
      placeholder="Enter Route Name"
      [(ngModel)]="routeName"
    />
    <button (click)="saveRoute()">Save Route</button>
  </div>

  <div id="map"></div>

  <h3>Existing Routes</h3>

<div class="table-card">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Route Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of routes">
        <td>{{ r.id }}</td>
        <td>{{ r.routeName }}</td>
        <td>
          <button class="delete" (click)="deleteRoute(r.id!)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>